:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --second-text-color: #ffffff;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --main-btn-color: #ffffff;
  --header-text-color: #212121;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.backdrop {
  z-index: 7;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.418);
  position: fixed;
  top: 0;
  transition: opacity 1000ms, visibility 1000ms;
}

.backdrop.is-hidden .modal {
  transform: scale(1.5) rotate(180deg) translate(-1000px);
  transition: transform 1000ms;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 40px;
  transform: scale(1) rotate(0);
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .modal {
    margin: auto;
  }
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}

.modal .modal__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

@media screen and (max-width: 1199px) {
  .modal .modal__title {
    width: 370px;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .modal .modal__title {
    margin: auto;
  }
}

.modal__form .modal__form-input {
  width: 100%;
  height: 40px;
  left: 576px;
  top: 314px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  color: var(--main-text-color);
  font-weight: normal;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form .modal__form-input:focus {
  border-color: #2196f3;
}

.modal__form .modal__form-input:focus + .input-icon {
  fill: var(--accent-color);
}

.modal__form .modal__form-text {
  width: 100%;
  height: 120px;
  left: 576px;
  top: 518px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: none;
}

.modal__form .modal__form-text::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form .modal__form-text:focus {
  border-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close {
  width: 30px;
  height: 30px;
  background: #ffffff;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__close:hover {
  fill: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover + .modal__close-icon {
  fill: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__field {
  margin-bottom: 10px;
}

.input-wrup {
  position: relative;
}

.input__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.form__input-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  padding-right: 12px;
  margin-bottom: 4px;
  display: block;
}

.header {
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
}

.page__header {
  top: 0;
  left: 0;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .page__header {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.header-container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header-container {
    justify-content: space-between;
    height: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .header-container {
    justify-content: center;
  }
}

.header-list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .header-list {
    flex-direction: column;
  }
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-list__item:not(:last-child) {
  margin-right: 50px;
}

.header__logo-web {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.header__logo-studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.header__link {
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.13;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .header__link {
    display: flex;
    flex-direction: column-reverse;
    font-size: 40px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 1200px) {
  .header__link {
    display: flex;
  }
}

.header__link--current {
  color: var(--accent-color);
}

.header__link--current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  position: absolute;
  bottom: -32px;
  left: 0;
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .header__link--current::after {
    color: transparent;
    border-radius: 0;
    background-color: transparent;
  }
}

.header__mail {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__mail:hover, .header__mail:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .header__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    padding-left: 40px;
  }
}

/* .header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
} */
.icon__mail {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .icon__mail {
    display: none;
  }
}

.header__tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__tel:hover, .header__tel:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .header__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    padding-left: 40px;
    color: #2196f3;
  }
}

.icon__tel {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .icon__tel {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: #ffffff;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-container.is-open {
    transform: translateX(0);
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    width: 100%;
    display: flex;
    margin-left: 88px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
  }
}

.menu-toggle {
  min-width: 40px;
  min-height: 40px;
  display: block;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  align-items: center;
  justify-content: center;
  z-index: 6;
}

.menu-toggle .icon-menu.md-close {
  display: none;
}

.menu-toggle[aria-expanded=true] .icon-menu.md-close {
  display: block;
}

.menu-toggle[aria-expanded=true] .icon-menu.md-open {
  display: none;
}

.menu-toggle:hover, .menu-toggle:focus {
  fill: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle:hover + .icon-menu {
  fill: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle-close {
  min-width: 40px;
  min-height: 40px;
  margin-top: 10px;
  margin-right: 15px;
  margin-left: auto;
  display: block;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  align-items: center;
  justify-content: center;
}

.menu-toggle-close:hover {
  fill: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle-close:hover + .icon-menu {
  fill: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .menu-toggle-close {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-list__item {
    padding-bottom: 32px;
    padding-left: 40px;
  }
  .header-list__item:last-child {
    padding-bottom: 302px;
  }
}

.social-link {
  display: flex;
  padding-left: 40px;
}

@media screen and (min-width: 768px) {
  .social-link {
    display: none;
  }
}

.social-link__item {
  display: flex;
  margin-top: 64px;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.social-link__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  margin-right: 20px;
}

.social-link__item:hover, .social-link__item:focus {
  color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: rotate(90deg);
}

@media screen and (max-width: 767px) {
  .link-box {
    display: flex;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    align-items: start;
  }
}

@media screen and (min-width: 1200px) {
  .link-box {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .link-box__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .link-box__item {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .link-box__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/overlay2-mob-min.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--main-title-color);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/overlay2-mob-2x-min.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/overlay2-tab-min.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/overlay2-tab-2x-min.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/overlay2-min.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/overlay2-2x-min.jpg");
  }
}

.hero__container {
  margin: 0 auto;
  max-width: 360px;
}

@media screen and (min-width: 1200px) {
  .hero__container {
    max-width: 696px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn-item {
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--main-btn-color);
  background-color: #2196f3;
  border-radius: 4px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn-item:hover, .hero__btn-item:focus {
  background-color: #188ce8;
}

@media screen and (max-width: 1199px) {
  .peculiarities {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .peculiarities {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.peculiarities-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .peculiarities-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.peculiarities-list__title-title {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .peculiarities-list__title-title {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .peculiarities-list__title-title {
    width: calc(100% / 4 - 30px);
  }
}

.peculiarities_icons {
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 70px;
  height: 70px;
}

.peculiarities__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .peculiarities__title {
    text-align: center;
  }
}

.peculiarities__after-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  .works {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}

.about-work {
  padding-bottom: 94px;
}

.about__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.work-list {
  display: flex;
}

.work-list__item {
  position: relative;
  overflow: hidden;
}

.work-list__item:not(:last-child) {
  margin-right: 30px;
}

.work-list__item > .work-list__item-text {
  position: absolute;
  top: 224px;
  right: 0;
  margin: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  padding-top: 27px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

@media screen and (max-width: 1199px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.team-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team-list__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    width: calc(100% / 4 - 30px);
  }
}

.persons__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 10px;
}

.persons__item-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.persons__title-item-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.persons__social-item {
  width: 44px;
  height: 44px;
}

.persons__social-item + .persons__social-item {
  margin-left: 10px;
}

.persons-social-list {
  display: flex;
  justify-content: center;
}

.persons__social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.persons__social-link:hover, .persons__social-link:focus {
  background-color: var(--accent-color);
  color: var(--main-title-color);
}

.persons__social-icon {
  fill: currentColor;
}

.client {
  background-color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .client {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .client__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.client-social {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.client-social__item {
  width: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  height: 92px;
}

@media screen and (min-width: 768px) {
  .client-social__item {
    width: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .client-social__item {
    width: calc(100% / 6 - 30px);
  }
}

.client-social__item + .client-social__item {
  margin-left: 30px;
}

.client-social__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-social__link:hover, .client-social__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.client-social__icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    flex-wrap: nowrap;
    justify-content: start;
  }
}

.footer-left {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-left {
    margin-bottom: 0;
    text-align: left;
  }
}

.footer__logo-web {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  display: block;
}

.footer__logo-studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contacts__address {
  margin-top: 20px;
  margin-bottom: 9px;
}

.contacts-link__item {
  margin-bottom: 9px;
}

.contacts-link {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.contacts__mail {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  padding-bottom: 20px;
}

.contacts__tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

.social-title-title {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .social-title-title {
    margin-bottom: 0;
    text-align: left;
    margin-left: 70px;
    transform: translateY(-30%);
  }
}

.social__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.social-aftter-list {
  display: flex;
}

.social-aftter-list__social-item {
  width: 44px;
  height: 44px;
}

.social-aftter-list__social-item:not(:last-child) {
  margin-right: 10px;
}

.social__social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__social-link:hover, .social__social-link:focus {
  background-color: var(--accent-color);
  color: var(--main-title-color);
}

.social__social-link {
  fill: #ffffff;
}

.social__newsletter-title {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .social__newsletter-title {
    width: 358px;
    margin-bottom: 0;
    text-align: left;
  }
}

.social__newsletter {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .social__newsletter {
    margin-left: 93px;
    transform: translateY(15%);
  }
}

.online-form {
  align-items: center;
  flex-direction: column;
}

.online-input {
  width: 100%;
  height: 50px;
  left: 815px;
  top: 2787px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
  padding-left: 16px;
  margin-bottom: 20px;
  outline: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  display: block;
  align-items: center;
  letter-spacing: 0.03em;
  color: #ffffff99;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.online-input:focus {
  border-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.online-input::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .online-input {
    width: 450px;
    margin: auto;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .online-input {
    width: 358px;
    margin-bottom: unset;
    margin-right: 12px;
    margin-left: 73px;
    transform: translate(-10%);
  }
}

.online__btn {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-btn-color);
  background-color: #2196f3;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.online__btn:hover, .online__btn:focus {
  color: var(--main-btn-color);
  background-color: #188ce8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .online__btn {
    transform: translateY(-105%) translateX(200%);
    margin-left: 12px;
  }
}

.send__icon {
  margin-left: 10px;
  transform: translateX(25%);
}

.check__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  .check__text {
    font-size: 12px;
    line-height: 1.17;
  }
}

.check__item {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check__icon {
  fill: #ffffff;
}

.modal__check:checked + .check__text .check__item {
  background-color: var(--accent-color);
  border: none;
}

.link-policy {
  color: var(--accent-color);
}

.btn__modal-btn {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: block;
  letter-spacing: 0.06em;
  color: var(--main-btn-color);
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn__modal-btn:hover, .btn__modal-btn:focus {
  color: var(--main-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #188ce8;
}

.page-header-portfolio {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-container-portfolio {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .features__list {
    justify-content: center;
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .features__list {
    margin-bottom: 34px;
  }
}

.hero__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--header-text-color);
  cursor: pointer;
  border-style: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover, .hero__btn:focus {
  color: var(--main-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background: #2196f3;
}

.features__item {
  margin-bottom: 15px;
}

.features__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .features__item:not(:last-child) {
    margin-right: 8px;
  }
}

.features-card__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.card__item {
  border: 1px solid #eeeeee;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.card__item:hover, .card__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__item:hover .card__item-top-text {
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .card__item {
    width: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .card__item {
    width: calc(100% / 3 - 30px);
  }
}

.card__item .card__item-wrap {
  position: relative;
  overflow: hidden;
}

.card__item-top-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__item:nth-child(n3) {
  margin-right: 0;
}

.card__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.card__item-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.card__text-item-text {
  padding: 20px 24px;
}
/*# sourceMappingURL=main.css.map */